.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 5px solid black;
  background-color: white;
  margin-bottom: 1rem;
  width: 45%;
  border-radius: 10px;
}

.individual {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  gap: 10px;
}

.desc {
  font-size: 1.1rem;
  font-weight: bolder;
}

.box {
  border: 3px solid black;
  width: 60px;
  height: 30px;
  margin: auto;
}

.percentage {
  margin: auto;
  font-weight: bold;
  font-size: 1.2rem;
}

.above {
  background-color: rgba(0, 0, 255, 1);
}

.between1 {
  background-color: rgba(0, 0, 255, 0.7);
}

.between2 {
  background-color: rgba(0, 0, 255, 0.5);
}

.below {
  background-color: rgba(0, 0, 255, 0.3);
}
